// 변수 모듈 import
@import './_variables.module.scss';

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	/* color: var(--palette-forth) !important; */
	/* color: white !important; */
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h5 {
	color: white !important;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: #ca965c;
	}
}

.root-container {
	height: 100%;
}

.inner-container {
	height: 100%;
	padding: 36px 24px;
}

/* Grid */
.grid-container {
	/* border: 1px solid red; */
	background: #876445;
	border-radius: 12px 12px 12px 12px;
	padding: 36px 24px;
}

.grid-container:first-child {
	margin-bottom: 2%;
}
