@import '~antd/dist/antd.css';

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h5 {
  color: white !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #607D8B;
  }
}

.inner-container {
  padding: 36px 24px;
}

.header-container {
  background: #455A64;
  padding: 12px 24px;
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 1.2em;
  margin-right: 8px;
}

.lookup-time {
  font-size: 0.8em;
  margin-right: 8px;
}

/* Footer */
.footer-container {
    background: #455A64;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
}

.block-left {
  display: flex;
  justify-content: flex-start;
}

.block-right {
  flex: 0.1;
}

.footer-content {
  margin-right: 14px;
  display: flex;
  align-items: center;
}

.link-content {
  display: flex;
  align-items: center;
}

.footer-content-label {
  margin-right: 4px;
}

.resource-link {
  margin-right: 4px;
}

.icons-wrapper {
  display: flex;
  justify-content: flex-end;
}

.icon {
  margin-left: 8px;
}

/* Grid */
.grid-container {
  /* border: 1px solid red; */
  background: #78655e;
  border-radius: 12px 12px 12px 12px;
    padding: 36px 24px;
  }
  
  .grid-container:first-child {
  margin-bottom: 2%;

}
